@model List<WebParqueoUsuario.Models.ControlGeneral>

@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row" style="margin-top:30px">
    <div class="col-sm-12">

        <div class="panel panel-warning">
            <div class="panel-heading">
                <h4>Nuevo Ingreso</h4>
            </div>
            <div class="panel-body">
                <form action="@Url.Action("Ingresar","ControlGeneral")" method="post">
                    <div class="form-group">
                        <label>Placa</label>
                        <input type="text" required class="form-control" name="Placa" />
                    </div>
                    <div class="form-group">
                        <label>Tipo</label>
                        <input type="text" required class="form-control" name="Tipo" />
                    </div>

                    <button type="submit" class="btn btn-primary">Ingresar Vehiculo</button>

                </form>
            </div>
        </div>
    </div>
</div>



<div class="row" style="margin-top:30px">
    <div class="col-sm-12">

        <div class="panel panel-warning">
            <div class="panel-heading">
                <h4>Lista de Vehiculos Ingresados</h4>
            </div>
            <div class="panel-body">
                <hr />
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID_Control</th>
                                <th>Placa</th>
                                <th>Fecha</th>
                                <th>Hora</th>
                                <th>Estado</th>
                                <th style="width:150px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (WebParqueoUsuario.Models.ControlGeneral item in Model)
                            {
                                <tr>
                                    <td>@item.ID_Control</td>
                                    <td>@item.Placa</td>
                                    <td>@item.Fecha.Date.ToShortDateString()</td>
                                    <td>@item.Hora</td>
                                    <td>@item.Estado</td>

                                    <td>
                                        <a class="btn btn-primary btn-sm"
                                           href="@Url.Action("Pagar","ControlGeneral", new { ID = item.ID_Control })">Pagar</a>
                                        <a class="btn btn-warning btn-sm"
                                           href="@Url.Action("Editar","ControlGeneral", new { ID = item.ID_Control })">Editar</a>
                                        <a class="btn btn-danger btn-sm"
                                           href="@Url.Action("Eliminar","ControlGeneral", new { ID = item.ID_Control })">Eliminar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
