@model List<WebParqueo.Models.Ajustes>


@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row" style="margin-top:30px">
    <div class="col-sm-12">

        <div class="panel panel-warning">
            <div class="panel-heading">
                <h4>Editar contacto</h4>
            </div>
            <div class="panel-body">
                <form action="@Url.Action("Editar","Ajustes")" method="post">
                    <input type="hidden" class="form-control" name="ID_Ajustes" value="@Html.DisplayTextFor(m => m.ID_Ajustes)" />
                    <div class="form-group">
                        <label>Nombre del Parqueo</label>
                        <input type="text" class="form-control" name="NombreParqueo" value="@Html.DisplayTextFor(m => m.NombreParqueo)" />
                    </div>
                    <div class="form-group">
                        <label>Espacios Disponibles</label>
                        <input type="text" class="form-control" name="CantidadParqueo" value="@Html.DisplayTextFor(m => m.CantidadParqueo)" />
                    </div>

                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a class="btn btn-warning" href="@Url.Action("Inicio","Ajustes")">Volver</a>

                </form>


            </div>
        </div>


    </div>
